@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$font-size: 15px;
$font-family-1: 'Lexend Deca', sans-serif;
$font-family-2: 'Big Shoulders Display', sans-serif;